@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
}

html,
body {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* ================= UTILITIES ================= */

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility radial-gradient {
  background: radial-gradient(circle at center, #434343 0%, #000 50%, transparent 100%);
}

@utility masked-img {
  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

/* ================= COMPONENTS ================= */

@layer components {

  /* ---------- Layout ---------- */

  .main-layout {
    @apply w-full overflow-x-hidden;
  }

  /* ---------- Navbar ---------- */

  .navbar {
    @apply fixed top-0 left-0 z-50 w-full;
  }

  .navbar-inner {
    @apply max-w-310 mx-auto flex md:flex-row flex-col
           md:justify-between items-center gap-5
           py-5 lg:px-0 px-5;
  }

  .navbar-logo {
    @apply font-modern-negra text-3xl -mb-2;
  }

  .navbar-link {
    @apply cursor-pointer text-nowrap md:text-base text-sm;
  }

  .navbar-links {
    @apply flex-center lg:gap-12 gap-7;
  }

  /* ---------- Effects ---------- */

  .noisy {
    @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
  }

  /* ---------- Hero ---------- */

  #hero {
    @apply relative z-10 min-h-dvh w-full border border-transparent;

    h1 {
      @apply md:mt-32 mt-40 text-8xl md:text-[20vw] leading-none text-center font-modern-negra;
    }

    .left-leaf {
      @apply absolute left-0 md:top-20 xl:top-36 2xl:top-52 md:bottom-auto -bottom-20 md:w-fit w-1/3;
    }

    .right-leaf {
      @apply absolute right-0 md:bottom-0 xl:top-0 2xl:top-12 top-1/2 md:w-fit w-24;
    }

    .body {
      @apply container mx-auto absolute left-1/2 -translate-x-1/2
             lg:bottom-20 md:top-[30vh] px-5;

      .content {
        @apply flex lg:flex-row flex-col w-full gap-10
               justify-between items-center lg:items-end;

        p:nth-of-type(2) {
          @apply font-modern-negra text-6xl text-yellow max-w-xl;
        }

        p:last-of-type {
          @apply 2xl:text-start text-center;
        }

        .view-cocktails {
          @apply space-y-5 text-lg lg:max-w-2xs md:max-w-xs w-full;

          a {
            @apply font-semibold opacity-80 hover:text-yellow;
          }
        }
      }
    }
  }

  /* ---------- Video ---------- */

  .hero-video {
    @apply w-full md:h-[80%] h-1/2 absolute bottom-0 left-0
           md:object-contain object-bottom object-cover;
  }

  /* ---------- Cocktails ---------- */

  #cocktails {
    @apply relative min-h-dvh w-full overflow-hidden;

    .list {
      @apply container mx-auto relative z-10
             flex md:flex-row flex-col
             justify-between gap-20 pt-40 px-5;
    }
  }

  /* ---------- About ---------- */

  #about {
    @apply min-h-screen py-28 container mx-auto px-5;
  }

  /* ---------- Art ---------- */

  #art {
    @apply flex-center flex-col min-h-dvh p-5 mt-20 relative radial-gradient;
  }

  /* ---------- Menu ---------- */

  #menu {
    @apply relative w-full py-20 px-5 radial-gradient;
  }

  /* ---------- Contact ---------- */

  #contact {
    @apply relative px-4 text-center w-full overflow-hidden radial-gradient;
  }
}
